<div class="container">
  <h1>Blank</h1>
  <p></p>

  <form action='/detector' method='get'>
    <div class="form-group">
      <label for="blank">Blank</label>
      <input id="blank" name="blank" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
